@model QuizApplicationMVC5.EDMX.Quiz

@{
    ViewBag.Title = "Eliminar Quiz";
}

<h2>Eliminar Quiz</h2>

<h3>¿Estás seguro que desea eliminar este Quiz?</h3>
<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre del Quiz")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizName)
        </dd>

        <dt>
            @Html.DisplayName("Categoría")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayName("Autor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al Listado", "Index")
        </div>
    }
</div>
