@model QuizApplicationMVC5.EDMX.Quiz

@{
    ViewBag.Title = "Detalles del Quiz";
}

<h2>Detalles del Quiz</h2>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuizName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.QuizID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
