@model IEnumerable<QuizApplicationMVC5.EDMX.Quiz>

@{
    ViewBag.Title = "Quizs";
}

<h2>Quizs</h2>

<p>
    @Html.ActionLink("Crear Nuevo Quiz", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre del Quiz")
        </th>
        <th>
            @Html.DisplayName("Categoría")
        </th>
        <th>
            @Html.DisplayName("Autor")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuizName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.QuizID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.QuizID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.QuizID })
        </td>
    </tr>
}

</table>
