@model IEnumerable<QuizApplicationMVC5.EDMX.Quiz>

@{
    ViewBag.Title = "Quizs";
}

<h1>Quiz</h1>

<p>
    @Html.ActionLink("Crear Nuevo Quiz", "Create")
</p>


<table class="table" id="tabla">
    <thead>
        <tr class="bg-primary">
            <th>
                Nombre del Quiz
            </th>
            <th>
                Categoría
            </th>
            <th>
                Autor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.QuizID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.QuizID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.QuizID })
                </td>
            </tr>
        }
    </tbody>
</table>
