@model IEnumerable<QuizApplicationMVC5.EDMX.Quiz>

@{
    ViewBag.Title = "Quizs";
}

<h1 style="color: #207ce5;">Quiz</h1>

<p>
    @Html.ActionLink("Crear Nuevo Quiz", "Create")
</p>
@using (Html.BeginForm())
{
<p>
    Find by Quizz Name: @Html.TextBox("SearchString")
    <button type="button" class="btn btn-light" value="Search">Buscar</button>
</p>
}


<table class="table">

    <tr class="bg-primary">
        <th>
            @Html.ActionLink("Nombre del Quiz", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Categoría", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Autor", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuizName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.QuizID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.QuizID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.QuizID })
            </td>
        </tr>
    }



</table>
