@model wpBallot.Models.Pregunta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Pregunta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
