@model IEnumerable<wpBallot.Models.Respuesta_Pregunta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texto_Respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RespuestaCorrecta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pregunta.Titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texto_Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RespuestaCorrecta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pregunta.Titulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_RespuestaPreg }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_RespuestaPreg }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_RespuestaPreg })
        </td>
    </tr>
}

</table>
