<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ballot</title>

    <link href="~/Content/Chart.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        #background {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0px;
            top: 0px;
            z-index: -1;
        }

        .stretch {
            width: 100%;
            height: 100%;
        }

        .Choices label {
            background-color: #fff;
            padding: 7px 20px;
            border-radius: 10px;
            display: inline-block;
            margin-bottom: 8px;
            font-weight: bold;
            border: 1px solid #d0c9c9;
        }

        div .answer, .radio-inline {
            font-weight: bold;
        }
    </style>
</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <label class="navbar-brand">Ballot</label>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "SelectQuizz", "Quizz")</li>
                        <li>@Html.ActionLink("Estadísticas", "Statistics", "Quizz")</li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Quiz", "Index", "CreateQuiz")</li>
                            <li>@Html.ActionLink("Preguntas", "Index", "Question")</li>
                            <li>@Html.ActionLink("Opciones", "Index", "Choice")</li>
                            <li>@Html.ActionLink("Respuestas", "Index", "Answer")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        @if (User.Identity.IsAuthenticated)
        {
            <hr />
            <footer>
                <p><b>&copy; @DateTime.Now.Year - Ballot</b></p>
            </footer>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("MyScritps", required: false)
</body>
</html>