@model IEnumerable<wpBallot.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario_Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario_Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Usuario })
        </td>
    </tr>
}

</table>
