@model IEnumerable<QuizApplicationMVC5.EDMX.Choice>

@{
    ViewBag.Title = "Opciones";
}

<h2>Opciones</h2>

<p>
    @Html.ActionLink("Crear Nueva Opción", "Create")
</p>

<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                Opción
            </th>
            <th>
                Pregunta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChoiceText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question.QuestionText)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ChoiceID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ChoiceID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ChoiceID })
                </td>
            </tr>
        }
    </tbody>
</table>
