@model QuizApplicationMVC5.EDMX.Answer

@{
    ViewBag.Title = "Eliminar Respuesta";
}

<h2>Eliminar Respuesta</h2>

<h3>¿Estás seguro que desea eliminar esta Opción?</h3>
<div>
    <h4>Respuesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Respuesta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerText)
        </dd>

        <dt>
            @Html.DisplayName("Pregunta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.QuestionText)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al Listado", "Index")
        </div>
    }
</div>
