@model QuizApplicationMVC5.EDMX.Answer

@{
    ViewBag.Title = "Detalles de la Respuesta";
}

<h2>Detalles de la Respuesta</h2>

<div>
    <h4>Respuesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Respuesta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerText)
        </dd>

        <dt>
            @Html.DisplayName("Pregunta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.QuestionText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AnswerID }) |
    @Html.ActionLink("Regresar al Listado", "Index")
</p>
