@model IEnumerable<QuizApplicationMVC5.EDMX.Answer>

@{
    ViewBag.Title = "Respuestas";
}

<h2>Respuestas</h2>

<p>
    @Html.ActionLink("Crear Nueva Respuesta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Respuesta")
        </th>
        <th>
            @Html.DisplayName("Pregunta")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.QuestionText)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AnswerID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.AnswerID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.AnswerID })
        </td>
    </tr>
}

</table>
