@model QuizApplicationMVC5.EDMX.Question

@{
    ViewBag.Title = "Eliminar Pregunta";
}

<h2>Eliminar Pregunta</h2>

<h3>¿Estás seguro que desea eliminar esta Pregunta?</h3>
<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Pregunta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>

        <dt>
            @Html.DisplayName("Quiz")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quiz.QuizName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al Listado", "Index")
        </div>
    }
</div>
