@model QuizApplicationMVC5.EDMX.Question

@{
    ViewBag.Title = "Detalles de la Pregunta";
}

<h2>Detalles de la Pregunta</h2>

<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Pregunta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>

        <dt>
            @Html.DisplayName("Quiz")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quiz.QuizName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.QuestionID }) |
    @Html.ActionLink("Regresar al Listado", "Index")
</p>
