@model IEnumerable<QuizApplicationMVC5.EDMX.Question>

@{
    ViewBag.Title = "Preguntas";
}

<h2>Preguntas</h2>

<p>
    @Html.ActionLink("Create Nueva Pregunta", "Create")
</p>

<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                Pregunta
            </th>
            <th>
                Quiz
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quiz.QuizName)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.QuestionID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.QuestionID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.QuestionID })
                </td>
            </tr>
        }
    </tbody>
</table>
