@model IQueryable<QuizApplicationMVC5.viewModels.QuestionVM>

@{
    int count = 1, countR = 0;
}

<div class="container">

    <!-- User Info -->
    <div class="userConnected" style="border:2px dashed #cecaca; border-radius: 10px; margin-top: 3%; background-color:white;">

        @{ Html.RenderPartial("_UserInfo");}
        <br>
    </div>

    <div class="Quiz">

        <h4 style="margin-top: 4%;"> <span class="label label-info">Preguntas :</span> </h4>

        @if (Model != null && Model.Any())
        {

            foreach (var question in Model)
            {
                <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">

                    <div class="Question" style="padding: 2%;">
                        <span class="label label-warning"> @string.Format("{0}{1}.", "P", count)</span>
                        <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QuestionID</span>
                        <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "P", count)">@question.QuestionText</p>
                    </div>

                    <div class="Choices" style="margin-left: 8%;">

                        @foreach (var choice in question.listado_opciones)
                        {
                            <label class="radio-inline">
                                <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@choice" style="margin-left: -16px;"> @choice
                            </label><br />
                            countR++;
                        }

                    </div> <!--END Choices-->

                    <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">


                    </div>

                </div> <!-- END BlockQ -->
                count++;
            }
            <span id="countQuections" style="display:none;">@count</span>
            <button type="button" id="SubmitQuiz" class="btn btn-default" style="margin-top: 10px;"><span class="glyphicon glyphicon-ok"></span>   Enviar Quiz </button>


        }

    </div> <!-- END QUIZ -->

</div> <!-- END CONTAINER -->

@section MyScritps
{
    
<script src="~/Scripts/Manejador_Quizz.js"></script>
}